.container{
    background-color: var(--bgSoft);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    min-width: 900px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form select{
    background-color: var(--bgSoft);
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #2e374a;
    font-size: 14px;
}

.form h1{
    width: 100%;
    font-size: 16px;
    margin-left: 5px;
}

.campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row; 
    gap: 20px;
    justify-content: space-between;
}

.inputWrapper {
    position: relative;
}

.inputWrapper input, .inputWrapper select{
    padding: 15px;
    background-color: transparent;
    color: var(--text);
    border-radius: 5px;
    border: 2px solid #2e374a;
    font-size: 16px;
    width: 100%;
}

.inputWrapper label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}


/* Estilo do rótulo quando o input está em foco */
.inputWrapper input:focus + label, 
.inputWrapper select:focus + label {
    top: -1px; /* Move o rótulo para cima */
    font-size: 12px; /* Reduz o tamanho do rótulo */
    background-color: var(--bgSoft);
    padding: 0 5px;
    color: var(--accent); /* Cor do rótulo quando o input está em foco */
    border-radius: 20px;
}


/* Estilo do rótulo quando o input não está em foco e não está vazio */
.inputWrapper input:not(:focus):not(:placeholder-shown) + label {
    top: -1px; /* Move o rótulo para cima */
    font-size: 12px; /* Reduz o tamanho do rótulo */
    background-color: var(--bgSoft);
    padding: 0 5px;
    border-radius: 20px;
}

/* Estilo do rótulo quando o input não está em foco e está vazio */
.inputWrapper input:not(:focus):placeholder-shown + label {
    top: 50%; /* Mantém o rótulo no centro quando o input está vazio */
    font-size: 14px; /* Restaura o tamanho do rótulo */
}

/* Estilizando inputs do tipo número para ocultar as setas */
.inputWrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/* Estilizando rótulos quando o input está focado ou não está vazio */
.inputWrapper input:focus + label, 
.inputWrapper input:not(:placeholder-shown) + label {
    color: var(--accent); /* Cor quando focado ou não vazio */
}


.contentButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}

.divButtons{
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid transparent;
}

.divButtons:hover {
    border-bottom: 1px solid white;
    transition: 0.2s all;
}



.contentButton button{
    background-color: unset;
    border: none;
    cursor: pointer;
    color: white;
}



.imagemUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagemUsuario img{
    max-width: 160px;
    height: auto;
    border-radius: 10px;
}

.imagemUsuario button{
    background-color: unset;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s all;
}

.imagemUsuario button:hover{
    border-bottom: 1px solid white;
    transition: 0.2s all;
}

.inputWrapper select > option{
    background-color: var(--bg);
}

/* Estilizando rótulos do select */
.inputWrapper select + label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}

/* Estilo do rótulo quando o select está em foco ou uma opção está selecionada */
.inputWrapper select:focus + label,
.inputWrapper select:valid + label {
    top: -1px; /* Move o rótulo para cima */
    font-size: 12px; /* Reduz o tamanho do rótulo */
    background-color: var(--bgSoft);
    padding: 0 5px;
    color: var(--accent); /* Cor do rótulo quando o select está em foco ou uma opção está selecionada */
    border-radius: 20px;
}

/* Estilo do rótulo quando o select não está em foco e não tem uma opção selecionada */
.inputWrapper select:not(:focus):not(:valid) + label {
    top: 50%; /* Mantém o rótulo no centro */
    font-size: 14px; /* Restaura o tamanho do rótulo */
}

.inputWrapper textarea {
    padding: 15px;
    background-color: transparent;
    color: var(--text);
    border-radius: 5px;
    border: 2px solid #2e374a;
    font-size: 16px;
    width: 100%;
}

.inputWrapper textarea + label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}

/* Estilizando rótulos quando o textarea está focado ou não está vazio */
.inputWrapper textarea:focus + label,
.inputWrapper textarea:not(:placeholder-shown) + label {
    top: -1px; /* Move o rótulo para cima */
    font-size: 12px; /* Reduz o tamanho do rótulo */
    background-color: var(--bgSoft);
    padding: 0 5px;
    color: var(--accent); /* Cor do rótulo quando o textarea está em foco */
    border-radius: 20px;
}

/* Estilo do rótulo quando o textarea não está em foco e não está vazio */
.inputWrapper textarea:not(:focus):not(:placeholder-shown) + label {
    top: -1px; /* Move o rótulo para cima */
    font-size: 12px; /* Reduz o tamanho do rótulo */
    background-color: var(--bgSoft);
    padding: 0 5px;
    border-radius: 20px;
}

/* Estilo do rótulo quando o textarea não está em foco e está vazio */
.inputWrapper textarea:not(:focus):placeholder-shown + label {
    top: 15%; /* Mantém o rótulo no centro quando o textarea está vazio */
    font-size: 14px; /* Restaura o tamanho do rótulo */
}
